{% extends "base.html" %}
{% block content %}

<div class="container jumbotron align-items-center bg-dark my-3">
    <h3 class="text-light" >This is the Home Page </h2>
    <hr class="my-4">
        {% if current_user.is_authenticated %}
        <a href="{{url_for('recipes.add_recipe')}}" class="btn btn-secondary-outline my-4 bg-light"> Add Recipes <i class="fa fa-arrow-right"></i></a>
        {% else %}
        <a href="{{url_for('auth.login')}}" class="btn btn-secondary-outline  bg-light my-4"> Login <i class="fa fa-arrow-right"></i></a>
        {% endif %}
    </p>
</div>
<div class="container align-items-center">
    <p>
            Hello, 
            {% if current_user.is_authenticated %}
            {{current_user.username | capitalize }}
            {% else %}
            Stranger
            {% endif %}! <br>
            Please use any of the links above for navigation.
    </p>
</div>

<style>
    #jumborecipe{
        background-image: url("https://media.istockphoto.com/id/1363638825/photo/vegan-plant-based-asian-food-recipes-with-rice-and-brown-rice-as.jpg?s=1024x1024&w=is&k=20&c=qTpZMJEEmuaEFZBULfj3gk4NDCkKoECh2b1T12DOnj8=");
    }
</style>
{% endblock %}
