{% extends "base.html" %}
{% block content %}
<div class="container jumbotron bg-secondary text-white my-3"> <h3>Account Page</h3></div>
<div class="container">
    <div class="row">
        <div class="col-4 rounded">
            <img src="../../../static/avatars/{{user.avatar}}" width="200" height="200" alt="profile_photo">
        </div>

        <div class="col-4">
            Username: {{user.username}} <br>
            Recipes Created: {{recipes | count}} <br>
            Email: {{user.email}} <br>
            Last Seen: {{user.last_seen.strftime('%B %d, %Y')}} <br>
            Member Since: {{user.member_since.strftime('%B %d, %Y')}} <br>
        </div>
    </div>
    <hr class="mb-5 mt-4">
    <div class="container d-flex flex-wrap align-items-center">
        {% for recipe in recipes %}
        <div class="card m-3 bg-dark text-white" style="width: 18rem;">
            <img class="card-img-top" src="../../../static/recipes/{{recipe.image}}" alt="Card image cap" width="200" height="150">
            <div class="card-body">
              <em class="card-title">{{recipe.name}}</em>
              {% if recipe.description == '' %}
              <p class="card-text">Delicous, why don't we add a description?</p>
              {% else %}
              <p class="card-text">{{recipe.description | truncate(64, killwords=True ,end='...')}}</p>
              {% endif %}
              <div class="container text-center">
                <a href="{{url_for('recipes.recipe_view', recipe_id=recipe.id)}}" class="btn btn-secondary">Try it!</a>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
</div>





{%endblock%}