{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron bg-dark text-white align-text-center my-3"> 
        <h3> Profile Update Page </h3>
    </div>
    <div class="container" id="profile_form">
        <div class="row">
            <div class="col4 border-right">
                <img src="../../../static/avatars/{{user.avatar}}" width="200" height="200" alt="profile_photo">
                <form method="POST" enctype="multipart/form-data" action="{{url_for('main.update_profile_photo')}}">
                    {{update_profile_photo.hidden_tag()}}
                    {{update_profile_photo.file(class_="form-control")}}
                    {{update_profile_photo.submit(class_="form-control btn btn-secondary my-2 px-4")}}
                </form>
            </div>
            <div class="col-2">
                <!-- Empty Spacing for Future columns-->
            </div>
            <div class="col-4">
                <form method="POST" id="update_profile_info" action="{{url_for('main.update_profile_info')}}">
                    {{profile_form.hidden_tag()}}
                    <div class="px-3 mx-3">
                        {{profile_form.username.label}}
                        {{profile_form.username(class_="form-control",value=current_user.username)}}
            
                        {{profile_form.email.label}}
                        {{profile_form.email(class_="form-control",value=current_user.email)}}
                        {{profile_form.email_confirm.label}}
                        {{profile_form.email_confirm(class_="form-control",value=current_user.email)}}
                        {{profile_form.submit(class_="form-control btn btn-secondary my-2")}}
                    </div>
                </form>
            </div>
        </div>
  
    </div>
    <hr class="my-5">
    <div class="container" id="pass_form">
        <form method="POST"  action="{{url_for('main.update_password')}}">
            {{pass_form.hidden_tag()}}
            <div class="px-5 mx-5">
                {{pass_form.password.label}}
                {{pass_form.password(class_="form-control")}}
    
                {{pass_form.password.label}}
                {{pass_form.password(class_="form-control")}}
                {{pass_form.submit(class_="form-control btn btn-secondary my-2")}}
            </div>
        </form>
    </div>

</div>



{% endblock %}