{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="jumbotron align-items-center">
        <h3>
            Unconfirmed Account
        </h3>
        <p class="my-5"> Hello, {{current_user.username | capitalize}}. It appears you have not confirmed your account. 
            In order to continue using the site, you will need to activate your account via the activation email. 
            Would you like to resend the confirmation email?</p>
        <p class="my-4"><a href="{{url_for('auth.resend_confirmation')}}" class="btn btn-primary"> Resend</a></p>
    </div>
</div>


{% endblock %}