
<div class="container my-3">
    <div class="jumbotron btn-primary bg-dark">
        <h3>Login Page</h3>
    </div>
    <form method="POST">
        {{form.hidden_tag()}}
        <div class="mb-3">
            {{form.name.label}}
            {{form.name(class_="form-control")}}
            <div  id="email-help" class="form-text"> <i>Please use your validated email to login.</i></div>
        </div>
        <div class="mb-3">
            {{form.description.label}}
            {{form.description(class_="form-control")}}
        </div>
        <div class="mb-2">
            {{form.remember_me(_class="form-control")}} Stay Logged In.
        </div>
        <div class="mb-3">
            {{form.submit(class_="btn btn-secondary")}}
        </div>
    </form>
</div>

{% endblock %}