{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="container jumbotron bg-secondary m-3 text-white align-items-center"> <h4>  Recipe: {{recipe.name | capitalize() }}  </h4></div>
    <div class="container p-4 m-4">
        <div class="row">
            <img src="{{url_for('recipes.static', filename=recipe.image)}}" alt="Recipe Image" width="200" class="col-4">

            <p class="my-4 col-8 border-left pl-2">
                {{recipe.description}}
            </p>    
        </div>

        <hr>

        <h5 class="my-3">Ingredients</h5>
        <ul class="list-group list-group-flush">
            {% for i in recipe.ingredients %}
            <li class="list-group-item">{{i}}</li>
            {% endfor %}
        </ul>
        <hr>
        <h5 class="my-3"> Directions</h5>
        <ul class="list-group list-group-flush">
            {% for d in recipe.directions %}
            <li class="list-group-item">{{d.details}}</li>
            {% endfor %}
        </ul>
    </div>
</div>





{% endblock %}