{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="container jumbotron bg-secondary m-3 text-white align-items-center"> <h4>  Recipe: {{recipe.name | capitalize() }}  </h4></div>
    <div class="div p-4 m-4">
        <p class="my-4">
            {{recipe.description}}
        </p>
        <img src="{{url_for('recipes.static', filename=recipe.image)}}" alt="Recipe Image" width="200">
        <hr>
        <ol>
            {% for i in recipe.ingredients %}
            <li>
                {{i}}
            </li>
            {% endfor %}
        </ol>
    </div>
</div>





{% endblock %}